* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.wrapper {
    margin: 80px 50px;
}

.wrapper > h1 {
    text-align: center;
}

.section-container {
    margin: 40px 0;
    width: 100%;
    display: flex;
}

.section-container > div {
    width: 33%;
    border: 1px solid #000;
    margin: 10px 10px;
}

.section-container div h2 {
    float: right;
    border: 1px solid #000;
    font-size: 20px;
    width: 150px;
    text-align: center;
}

.section-container div:nth-child(1) h2 {
    background-color: #F04743;
}

.section-container div:nth-child(2) h2 {
    background-color: #2F848D;
}

.section-container div:nth-child(3) h2 {
    background-color: #F4E99D;
}

.section-container div p {
    margin: 40px 15px 10px 15px;
}

@media only screen and (max-width: 991px) and (min-width: 767px) {

    .section-container {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .wrapper {
        margin: 40px 20px;
    }

    .section-container div {
        margin: 10px;
    }

    .section-container div:nth-child(1),
    .section-container div:nth-child(2) {
        width: 47%;
    }

    .section-container div:nth-child(3) {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .wrapper {
        margin: 40px 50px;
    }

    .section-container {
        flex-direction: column;
    }

    .section-container > div {
        width: 100%;
    }
}
